virt_env
production.ini
alembic.ini
digital_ale.egg-info
digital_ale/static/scans
digital_ale/static/CharisSIL-R.ttf

#general stuff
*.log
*.bak
*~

#python specific
__pycache__/
*.py[cod]
build
dist
