@font-face {
    font-family: Charis SIL;
    src: url(/static/CharisSIL-R.ttf);
}

body {
    margin: 0;
    margin-bottom: 2ex;
}

a.home:link {
    color:black; 
    text-decoration:none;
}
a.home:visited {
    color:black;
    text-decoration:none}

div.header {
    padding: 1ex;
    background-color: #E9E9F0;
    
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

div.header_spacer {
    flex-grow: 2;
    -webkit-flex-grow: 2;
}

div.body {
    margin: 1ex;
}

div.footer {
    margin: 0;
}

div.concept_table_wrapper {
    width: 50ex;
}

table.concept_table td {
    padding: 0.5ex 1ex !important;
}

table.overview_table {
    background-color:#F0F0F0;
    border: 0;
    border-spacing: 0;
}

table.overview_table td,th {
    padding: 0.5ex 1ex !important;
}

.ui-widget-header {
    background: #F0F0F0 !important;
}

div.overlay-button {
    position: absolute;
    top:10px;
    left:10px;
    display:inline-block;
    transition: opacity 600ms;
    opacity: 0.35;
}

div.overlay-button:hover {
    opacity: 1;
}

div.ale-scan {
    position: absolute;
    top:0;
    left:0;
    height:1132px;
    width:800px;
    display:inline-block;
    overflow: hidden;
}

div.ale-scan-bg {
    position: absolute;
    top:0;
    left:0;
    height:1132px;
    width:800px;
    display:inline-block;
    background-size: 100% auto;
    background-repeat:no-repeat;
}

div.rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

textarea.sheet-text {
    font-family:Charis SIL;
    font-size:12pt;
}

/* overview of places of inquiry */

.wrapper-shown-place {
    position: relative;
    margin: 0;
    left: 61px;
    display: inline-block;
    margin-bottom: 1ex;
}

.dataTables_wrapper {
    display: inline-block;
    vertical-align: middle;
}


.place-row td {
    cursor: pointer;
}

.places-map-wrapper {
    overflow-x: hidden;
    position: relative;
}

.places-trigger {
    position: absolute;
    z-index: 210;
    cursor: pointer;
    background-color: #E9E9F0;
    color: #000000;
    left: 0;
    top: 804px;
    width: 796px;
    height:50px;
    border: 2px solid #E9E9F0;
    padding-right: 4px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    text-align: right;
    font-size: 40px;
}

.places-map {
    position: absolute;
    left: 58px;
    top: 0;
    width: 1200px;
    height:800px;
    border: 2px solid black;
}

.cd-panel {
    position: relative;
    left: 54px;
    top: 0;
    visibility: hidden;
    transition: visibility 0s 0.6s;
}

.cd-panel::after {
  /* overlay layer */
    content: '';
    position: absolute;
    border: 2px solid black;
    top: 0;
    left: 0;
    width: 1204px;
    height: 800px;
    background: transparent;
    cursor: pointer;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    transition: background 0.6s;
}

.cd-panel.is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}

.cd-panel.is-visible::after {
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    transition: background 0.6s;
}

.cd-panel-container {
    display: inline-block;
    position: relative;
    border: 4px solid #E9E9F8;
    padding: 4px;
    height: 788px;
    overflow-y: scroll;
    z-index: 200;
    background-color: #E9E9F8;
    transition-property: transform;
    transition-duration: 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
 
.cd-panel-content {
    display: inline-block;
}

.is-visible .cd-panel-container {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-delay: 0s;
}

.place-form {
    display: flex;
    flex-flow: row wrap;
    width: 650px;
}

.place-form label {
    min-width: 9ex;
    display: inline-block;
    margin-bottom: 5px;
}

.place-form textarea {
    height: 20ex;
    width: 600px;
}
