body {
    margin: 0px;
    margin-bottom: 2ex;
}

a.home:link {
    color:black; 
    text-decoration:none;
}
a.home:visited {
    color:black;
    text-decoration:none}

div.header {
    padding: 1ex;
    background-color: #E9E9F0;
    
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

div.header_spacer {
    flex-grow: 2;
    -webkit-flex-grow: 2;
}

div.body {
    margin: 1ex;
}

div.footer {
    margin: 0px;
}

div.concept_table_wrapper {
    width: 50ex;
}

table.concept_table td {
    padding: 0.5ex 1ex !important;
}

table.overview_table {
    background-color:#F0F0F0;
    border: 0px;
    border-spacing: 0px
}

table.overview_table td,th {
    padding: 0.5ex 1ex !important;
}

.ui-widget-header {
    background: #F0F0F0 !important;
}
